In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as smf
import numpy as np

In [2]:
cars = pd.read_csv("Cars.csv")
cars

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

In [3]:
# to move MPG to the last column
cars = pd.DataFrame(cars, columns=["HP", "VOL", "SP","WT", "MPG"]) ## WE ARE MOVING IT(MPG) BY ARRANGING COLUMNS LIKE THIS

In [4]:
cars

     HP  VOL          SP         WT        MPG
0    49   89  104.185353  28.762059  53.700681
1    55   92  105.461264  30.466833  50.013401
2    55   92  105.461264  30.193597  50.013401
3    70   92  113.461264  30.632114  45.696322
4    53   92  104.461264  29.889149  50.504232
..  ...  ...         ...        ...        ...
76  322   50  169.598513  16.132947  36.900000
77  238  115  150.576579  37.923113  19.197888
78  263   50  151.598513  15.769625  34.000000
79  295  119  167.944460  39.423099  19.833733
80  236  107  139.840817  34.948615  12.101263

[81 rows x 5 columns]

In [5]:
cars.head()

   HP  VOL          SP         WT        MPG
0  49   89  104.185353  28.762059  53.700681
1  55   92  105.461264  30.466833  50.013401
2  55   92  105.461264  30.193597  50.013401
3  70   92  113.461264  30.632114  45.696322
4  53   92  104.461264  29.889149  50.504232

In [6]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   HP      81 non-null     int64
 1   VOL     81 non-null     int64
 2   SP      81 non-null     float64
 3   WT      81 non-null     float64
 4   MPG     81 non-null     float64
dtypes: float64(3), int64(2)
memory usage: 3.3 KB

In [7]:
cars.isna()

       HP    VOL     SP     WT    MPG
0   False  False  False  False  False
1   False  False  False  False  False
2   False  False  False  False  False
3   False  False  False  False  False
4   False  False  False  False  False
..    ...    ...    ...    ...    ...
76  False  False  False  False  False
77  False  False  False  False  False
78  False  False  False  False  False
79  False  False  False  False  False
80  False  False  False  False  False

[81 rows x 5 columns]

In [8]:
cars.isna().sum() ## checking for misssing values

HP     0
VOL    0
SP     0
WT     0
MPG    0
dtype: int64

In [9]:
cars.corr()

           HP       VOL        SP        WT       MPG
HP   1.000000  0.077459  0.973848  0.076513 -0.725038
VOL  0.077459  1.000000  0.102170  0.999203 -0.529057
SP   0.973848  0.102170  1.000000  0.102439 -0.687125
WT   0.076513  0.999203  0.102439  1.000000 -0.526759
MPG -0.725038 -0.529057 -0.687125 -0.526759  1.000000

In [10]:
# NOTE: X AND Y CORRELATION SHOULD BE STRONG AND THERE SHOULD BE NO CORRELATION AMONG X COLUMNS
## HERE VOL V/S WT IS HAVING STRONG CORRELATION

In [ ]:
sns.set_style(style='darkgrid')
sns.pairplot(cars)

# preparing the model

In [ ]:
#build the model
import statsmodels.formula.api as smf
model = smf.ols('MPG~WT+VOL+SP+HP', data= cars).fit()
model.summary()

In [ ]:
## NOTE :  DESIRED P VALUE SHOULD BE <0.05 FOR 95% CONFIDENCE LEVEL

# H0:the coefficient is not significant and has no predictive value
# Ha : the coefficient is significant and has good predictive value

#if p<0.05 - reject null hypo(H0) or if p>0.05 acept null hypo
# p value should be <alpha(0.05 )to be significant.

In [ ]:
## TO GET BETA COEFFICIENTS
model.params

In [ ]:
## t values and p values
print(model.tvalues,'\n\n\n', model.pvalues)

In [ ]:
### To improve the model, either we can check which  variable among wt and vol are posing the problem as they are havin
# p value> 0.05 and having multicollinearity(thr VIF factor), follow the below steps.i.e doing ols as Simple linear regression btwn MPG & WT
## OR MLS betweeen MPG & WT + VOL. then check VIF factor

In [ ]:
ml_wt=smf.ols("MPG~WT",data=cars).fit()
ml_wt.summary()

In [ ]:
print(ml_w.tvalues, '\n', ml_w.pvalues)

In [ ]:
ml_wv = smf.ols('MPG~WT+VOL', data= cars).fit()
ml_wv.summary()

In [ ]:
print(ml_wv.tvalues,'\n',  ml_wv.pvalues)

In [ ]:
## from above values we can confirm that p values of WT is significant whereas p values of vol and wt is not
## so we should remove either one column , both are not required. so here- vol column to improve the model

# CALCULATING VIF( VIF= 1/(1-r^2)

In [ ]:
rsq_hp = smf.ols('HP~WT+VOL+SP', data= cars).fit().rsquared
vif_hp = 1/(1-rsq_hp)
print(vif_hp)

In [ ]:
rsq_hp = smf.ols('HP~WT+VOL+SP', data= cars).fit().rsquared
vif_hp = 1/(1-rsq_hp)
rsq_wt = smf.ols('WT~HP+VOL+SP', data= cars).fit().rsquared
vif_wt = 1/(1-rsq_wt)
rsq_vol = smf.ols('VOL~WT+HP+SP', data= cars).fit().rsquared
vif_vol = 1/(1-rsq_vol)
rsq_sp = smf.ols('SP~WT+VOL+HP', data= cars).fit().rsquared
vif_sp = 1/(1-rsq_sp)

## storing the vif values in a data frame

d1 = {'Variables' : ['HP', 'WT', 'VOL', 'SP'], 'vif' : [vif_hp,vif_wt,vif_vol,vif_sp]}
print(d1)

In [ ]:
d1 = {'Variables' : ['HP', 'WT', 'VOL', 'SP'], 'vif' : [vif_hp,vif_wt,vif_vol,vif_sp]}
vif_frame = pd.DataFrame(d1)  ## this step is to keep it in a data frame
vif_frame

## note: 
VIF<10 PREFERABLE VARIABLE(PREDICTOR) AND 
VIF>10 PROBLEMMMATIC VARIABLE(PREDICTOR)- THESE ARE NOT REQUIRED

In [ ]:
## in the above eg, WT and VOL are problemmatic, which indicates there is a dependency(multicollinearity among wt and vol), 
## so get rid of any one

# MULTICOLLINEARITY
 IT can be checked by correlaation values and VIF factor

In [ ]:
## build model with wt and vol seperately to check its AIC and summary values;  to eliminate the one which has highest AIC values

# AIC (AKAIKE INFORMATION CRITERIA)

In [ ]:
## build the model with Wt
import statsmodels.formula.api as smf
model = smf.ols('MPG~WT+SP+HP', data=cars).fit()
print(f'AIC: {model.aic},rsq_wt:{rsq_wt}')

In [ ]:
## build the model with Vol
import statsmodels.formula.api as smf
model = smf.ols('MPG~VOL+SP+HP', data=cars).fit()
print(f'AIC: {model.aic},rsq_Vol:{rsq_vol}')
model.summary()

In [ ]:
### the one with lesser AIC SHould be preffered as per AIC

# Residual Analysis

# Test for normality of residuals(Q-Q Plot)

In [ ]:
## ASSUMPTION IN MLR: the residual values(y-y^) shall follow normal distribution( i.e q-q plot)

In [ ]:
import statsmodels.api as sm

model = smf.ols('MPG~VOL+SP+HP', data=cars).fit()
qqplot = sm.qqplot(model.resid,line='q')
plt.title("Normal Q-Q plot of residuals")
plt.show()

## Note : Q-Q plot indicates that residuals  are normally distributed as it is indicated by residuals( dots) lies on the  red 
line(theoritically its normal dist line). Q-Q plot is a standard test that can say the distribution of errors,it indicates only few rows (data points) hav problem  
## we already looked about columns which causing problem(vol and wt) and removed wt which is having high AIC 
## and now we are klooking among data points along rows to check the residuals of the model

In [ ]:
## generally errors show bell shaped curve but in Q-Q plots it follows the red line only if it is normally distributed

In [ ]:
list(np.where(model.resid>10))

In [ ]:
model.resid

In [ ]:
sns.displot(model.resid, kde = True) ## this curve wont show the exact normality or not, so q-q polot is a std test

In [ ]:
sm.graphics.influence_plot(model)

In [ ]:
### it will tell us about the problemmmatic data points which are acting as outliers
## here 70 and 76 are having big size dots which are acting as the ifluencing points

# REIDUAL PLOT FOR HOMOSCADASTICIT

In [ ]:
model.fittedvalues  ### these are yhat values

In [ ]:
## to get z scores of errors (z=(x-mu/sigma))
def get_standardized_values(vals): ## this is user defined function
    return ( vals - vals.mean())/vals.std() ## this is in the form of  (z=(x-mu/sigma))

In [ ]:
plt.figure(figsize=(10,6))
## WE WANT TO PLOT Z scores of Y HAT AND  z scores of Y- Y HAT (RESIDUALS)
plt.scatter(get_standardized_values(model.fittedvalues),
            get_standardized_values(model.resid)) ## this step can be done by performing z scores of y hat and y-yhat values se
# seperately and then can be plotted the graphs


plt.title('RESIDUAL PLOT')
plt.xlabel('Standardized Fitted values') ## these are y hat vallues
plt.ylabel('Standardized residual values') ## these are residuals(y-y hat values)
plt.show()

In [ ]:
## note: it is done to observe whether homoscadasticity is present, here no homoscadasticty is present here

## homoscadasticity
it is a condition in which the variance of the residualm or error term in a regression model is constant. but it is not desirable.
if a trend observed in the data points then it is not desirable. which means we should not have constant residuals or any pattern in the data points to avoid homoscadasticity.

# note
IN MLR , we should observe whether constant variance among residuals(not desired)  and multicollinearity among x columns(not desirable) to fit the best model

# MODEL DELETION DIAGNOSTICS

# DETECTING INFLUENCERS/OUTLIERS

COOOK's DISTANCE : IT IS USED TO DETECT WHETHER THE DATA POINT IS CAUSING ANY PROBLEM IN MODEL OR NOT BY COMPARING THE MODEL WITH PARTICULAR DATA POINT AND WITHOUT DATA POINT. IT CAN BE KNOWN BY THE COOKS DISTANCE VALUE;
 IF COOKS POINT IS 
 <0.5- HIGHLY DESIRABLE
 0.5 TO 1 - DESIRABLE
 >1 - NOT DESIRABEL

In [ ]:
cars.info()

In [ ]:
from statsmodels.graphics.regressionplots import influence_plot
model_influence = model.get_influence()
(c, _) = model_influence.cooks_distance ## (c,_) means print only c =cooks values from two  types of parameters(c and another one)
c
### the below are cooks distance points for each point

stemplot
 here plot the influencers values(cooks distance) using stem plot

In [ ]:
fig = plt.subplots(figsize=(20,7))
plt.stem(np.arange(len(cars)), np.round(c,3)) ## here np.array of 80 data points on x axis and np.round(c) on y axis
plt.xlabel('Row Index') 
plt.ylabel('Cooks Distance')
plt.show()

In [ ]:
(np.argmax(c), np.max(c)) ## to check the maximum data point in the cook distance

# HIFH INFLUENCE POINTS

In [ ]:
cars.shape # ans is (row, column)

In [ ]:
k= cars.shape[1] ## indicates column
n= cars.shape[0] # indicates row
leverage_cutoff = 3*((k+1)/n) ### k means num of columns= 3*(5+1)/81
leverage_cutoff

In [ ]:
from statsmodels.graphics.regressionplots import influence_plot
import matplotlib.pyplot as plt

influence_plot(model,alpha=0.5)

y =[i for i in range(-2,8)]
x=[leverage_cutoff for i in range(10)]
print(x)
plt.plot(x,y,'r+')

In [ ]:
discard the here red colur plus mark indicates the influence points (70 and 76). so discard those dots

In [ ]:
sm.graphics.influence_plot(model)

In [ ]:
From the above plot, it is evident that data point 70 and 76 are the influencers which are the border points 
and its size is also large so discard it

In [ ]:
cars[cars.index.isin([70,76])]

In [ ]:
import pandas as pd
cars_new = pd.read_csv('Cars.csv')
cars_new.head()

In [ ]:
### See the differences in HP and other variables values
cars.head()

In [ ]:
### discard the data points which areinfluencers and reasign the row number (reset_index())
car1=cars_new.drop(cars_new.index[[70,76]], axis=0).reset_index()
car1  ## below here are the 2 index columns , one with deleting the 70 and 76 other one with original index column

In [ ]:
## DROP THE ORIGINAL INDEX
car1= car1.drop(['index'],axis=1)
car1

# build the model with wither VOL or WT

In [19]:
## exclude variable "WT" and generate R-squared and AIC values
final_ml_v = smf.ols('MPG~VOL+SP+HP', data = car1).fit()

NameError: name 'car1' is not defined

In [20]:
 (final_ml_v.rsquared,final_ml_v.aic,final_ml_v.bic)

NameError: name 'final_ml_v' is not defined

In [21]:
## exclude variable "vol" and generate R-squared and AIC values
final_ml_w = smf.ols('MPG~WT+SP+HP', data = car1).fit()

NameError: name 'car1' is not defined

In [22]:
(final_ml_w.rsquared,final_ml_w.aic,final_ml_w.bic)

NameError: name 'final_ml_v' is not defined

In [ ]:
### comparing above R square value  and AIC values, model"final_ml_v' has high r square andnlow AIC values . hence inclue 
variable'VOL' so that multicollinearity problem would be resolved.

In [ ]:
## build the model on the new data
final_ml_V = smf.ols('MPG~VOL+SP+HP', data=car1).fit()

#

In [ ]:
### predict on all given x coolumns
pred_y = final_ml_v.predict(car2[['VOL','SP','HP']])
pred_y